.container {
    display: flex;
    display: -webkit-flex;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    height: 60%;
    background-color: wheat;
    transform: translate(-50%, -50%);
    transition: all 1s;
    -webkit-transition: all 1s;
}

label {
    color: coral;
}

.item{
    background-color: cornflowerblue;
    width: 1%;
    height: 10%;
    color: white;
    text-align: center;
    border-radius: 4px;
    transition: all 3s;
    -webkit-transition: all 3s;
}