.body {
    width: 100%;
    margin: 0;
    border: 0;
}
/*顶部导航栏*/
.header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: aliceblue;
    display: flex;
    position:fixed;
    top: 0;
}
.head-right {
    width: 45%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.head-left {
    margin-left: 30px;
    font-size: 7px;
    text-align: center;
    list-style-type:none;
}
.head-left:hover {
    color: orange;
    cursor: pointer;
}
/*第一张大图  home部分*/
.home{
    width: 100%;
}

.home-word {
    width: 100%;
    height: 750px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("../img/01.jpg") ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    color: white;
}
.home-down{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 200px;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    padding: 10px 10px;
    position: relative;
}

.home-down:hover {
    color: orange;
    cursor: pointer;
    background-color: orange;
}

.home-down:after {
    content: '';
    position: absolute;
    top: 17px;
    left: 19px;
    width: 8px;
    height: 8px;
    border:2px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg);
}
/*第二部分 about*/
.about {
    height: 360px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}
.about-left{
    width: 45%;
    padding: 20px 0;
    margin-left: 5%;
    float: left;

}
.about-img{
    width: 555px;
    height: 396px;

}
.about-right{
    width: 40%;
    float: left;
    margin-top: 20px;

}
/* 第三部分 team */

.team {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url(../img/03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
}
.team-back{
    padding-top: 80px;
}
.team-img {
    display: flex;
    margin: 40px auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.team-img-small{
    width: 20%;
}
.img-four {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}