.body {
    width: 100%;
    margin: 0;
    border: 0;
}
/*顶部导航栏*/
.header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: aliceblue;
    display: flex;
    position:fixed;
    top: 0;
    z-index: 10;
}
.head-right {
    width: 45%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.head-left {
    margin-left: 30px;
    font-size: 7px;
    text-align: center;
    list-style-type:none;
}
.head-a:hover {
    color: orange;
    cursor: pointer;
}
.head-a {
    text-decoration: none;
    color: aliceblue;
}
/*第一张大图  home部分*/
.home{
    width: 100%;
}

.home-word {
    width: 100%;
    height: 750px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("../img/01.jpg") ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    color: white;
}
.home-down{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 200px;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    padding: 10px 10px;
    position: relative;
}

.home-down:hover {
    color: orange;
    cursor: pointer;
    background-color: orange;
}

.home-down:after {
    content: '';
    position: absolute;
    top: 17px;
    left: 19px;
    width: 8px;
    height: 8px;
    border:2px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg);
}
/*第二部分 about*/
.about {
    height: 360px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}
.about-left{
    width: 500px;
    padding: 20px 0;
    margin-left: 20%;
    float: left;
}
.about-img{
    width: 555px;
    height: 396px;
}
.about-right{
    width: 500px;
    float: left;
    margin-top: 20px;
}
/* 第三部分 team */

.team {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url(../img/03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
}
.team-top{
    padding-top: 80px;
}
.team-center {
    position: relative;
    overflow: hidden;
    width: 1140px;
    margin: auto;
    padding-top: 30px;
}

.img-four {
    width: 120px;
    height: 120px;
    border: 2px solid transparent;
    border-radius: 50%;
}
.img-four:hover {
    background-color: orange;
}

/*第四部分 services*/
.services {
    height: 1000px;
    width: 100%;
    text-align: center;
}
.services-top{
    width: 1140px;
    margin: 0 auto;
}
.service-center {
    width: 1140px;
    height: 250px;
    margin: 80px auto;
}
.service-center-four{
    list-style: none;
    display: flex;
    text-align: center;
}
.service-center-four-li{
    width: 25%;
    height: 239px;
    padding-left: 15px;
    padding-right: 15px;
    float: left
}
.four-li{
    width: 100px;
    height: 100px;
    border: 4px solid orange;
    border-radius: 50%;
    margin: auto;
}
.four-li:hover {
    background-color: orange;
}
.serveice-bottom{
    height: 426px;
    background: url("../img/04.jpg"),linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.8));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: white;
}
.service-bottom-img{
    width: 60%;
    margin: 60px auto;
    height: 200px;
    overflow: hidden;
}
/*倒数第三部分 portfolio*/
.portfolio{
    width: 100%;
    height: 1100px;
    text-align: center;
}
.portfolio-top{
    padding-top: 120px;
    width: 1100px;
    margin: auto;
}
.portfolio-bottom{
    padding-top: 120px;
    width: 1140px;
    margin: auto;
}
.p-b-img{
    width: 250px;
    height: 250px;
    margin: 15px 15px 15px 15px;
    float: left;
}
/*倒数第二部分 textmonials*/
.textmonials {
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url("../img/05.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.textmonials-top{
    padding-top: 80px;
    color: aliceblue;
    text-align: center;
}
.contact{
    width: 100%;
    height: 580px;
}
.contact-top{
    padding-top: 110px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;font-size: 12px;
    display: flex;
}
.footer-li{
    width: 25px;
    height: 25px;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    margin-left: 15px;
}
.footer-li:hover{
    border: 2px solid orange;
}